<div class="m-10">
  <div class="text-center p-10">
    <h3 class="dark:text-gray-500 text-gray-500 font-thin">Andelson Lopez Ysabel @2023</h3>
    <p class="dark:text-gray-600 text-gray-400 font-thin">I made this website for fun and show my skills with the web technologies, I took inspiration from other projects to get this final result.</p>
  </div>
</div>