<div class="mt-10" id="socialMedias">
    <div class="">
        <h3 class="text-bold underline underline-offset-8 mb-5 decoration-4 text-gray-800 dark:text-gray-400">
        WEB LINKS
        </h3>

        <div class="flex justify-start items-center mt-5">
            <i class="devicon-github-original mr-3 text-2xl"></i>
            <a href="https://github.com/l9dson-wq" class="text-blue-600 dark:text-blue-400 text-md">@l9dson-wq</a>
        </div>

        <div class="flex justify-start items-center mt-4">
            <i class="devicon-linkedin-plain mr-3 text-2xl"></i>
            <a href="https://do.linkedin.com/in/andelson-lopez-ysabel-a7ba3b211" class="text-blue-600 dark:text-blue-400 text-md">My Linkedin</a>
        </div>

        <div class="flex justify-start items-center mt-4">
            <i class="ri-youtube-fill mr-3 text-2xl"></i>
            <a href="https://www.youtube.com/@nicolinux3819" class=" text-blue-600 dark:text-blue-400 text-md">@nicolinux3819</a>
        </div>
    </div>
</div>